PORT=3000

# Docker
POSTGRES_PORT=5432
POSTGRES_USER=user_example
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=your_database

# Database
DATABASE_URL="postgresql://user_example:yourpassword@localhost:5432/your_database?schema=public"